<launch>
    <!-- Map server -->
  <arg name="map_file" default="/home/ros/robocup/map/shanghai2.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <include file="$(find bringup)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>

    <arg name="use_map_topic" value="true"/>
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bringup)/rviz/navigation.rviz" required="true" />
  <include file="$(find bringup)/launch/includes/move_base_dwa.launch.xml"/>
  <node name="tf_base_footprint2laser" pkg="tf" type="static_transform_publisher" args="0.18 0 0 0 0 0 base_footprint laser 20" output="screen" />
  <!--node name="tf_base_odom2map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0  map odom 20" output="screen" /-->
  <node name="tf_base_footprint2kinect" pkg="tf" type="static_transform_publisher" args="-0.105 0 1.34 0 0 0 base_footprint camera_link 20" output="screen" />
  <param name="ground_segmentation/x1" value="-0.105"/><!-->kinect 相对与机器人的位置，前后<-->
  <param name="ground_segmentation/y1" value="0"/><!-->kinect 相对与机器人的位置，左右<-->
  <param name="ground_segmentation/z1" value="1.34"/><!-->kinect 相对与机器人的位置，上下<-->  
</launch>
